test
.DS_Store

*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars
.terraform.lock.hcl
*.pem
*.key
credentials
pulumi/venv/
Pulumi.*.yaml
!pulumi/Pulumi.yaml

# Ansible
*.retry
ansible/.vault_pass
ansible/inventory/*.pyc
__pycache__/