version: '{{ docker_compose_version }}'

services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_tag }}
    container_name: {{ app_name }}
    ports:
      - "{{ app_port }}:{{ app_internal_port }}"
    environment:
      {% for key, value in app_env.items() %}
      {{ key }}: "{{ value }}"
      {% endfor %}
    restart: unless-stopped
